 
<div class="container p-2">
    <div class="row">
        {{#each links}}
            <div class="container col-sm-4 p-2" >
                
                    <div class="card text-center">
                        <div class="card-body p-2" >
                             <a href="{{url}}" target="_blank">
                                <h3 class="card-title text-uppercase">
                                    {{ title }}
                                </h3>
                            </a>
                            <p class="m-2">{{ description }}</p>
                            <p>{{timeago created_at}}</p>
                            <a href="/delete/{{id}}" class="btn btn-danger">Delete</a>
                           <a href="/edit/{{id}}" class="btn btn-secondary">Edit</a>
                       
                        </div>

                    </div>
                
            </div>
        {{else}}            
            <div class="col-md-4 mx-auto">
                <div class="card card-body text-center">                    
                    <p>No se encuentra ningún link...</p>
                    <a href="/links/add">Crear Link...</a>
                </div>
            </div>
        {{/each}}
        
    </div>
</div>
 

